.Doorkey-container {

  display: flex;
  flex-direction: column;

  h1,
  .Doorkeys-title,
  .Doorkey-allowPublic {
    margin-left: 8px;
  }

  .Doorkeys-new,
  .Doorkeys-fieldLabels,
  .Doorkey-allowPublic  {
    margin-top: 20px;
  }

  .DoormanSettingsListItem {
    margin-top:8px;
  }

  .Doorkeys-fieldLabels,
  .DoormanSettingsListItem-inputs,
  .Doorkeys-newInputs {
    display: flex;
    width: 730px;
    align-items: center;
    & > * {
      flex-basis: 25%;
      margin: 0 8px;
    }
  }

  .DoormanSettingsListItem,
  .Doorkeys-new {
    display: flex;
    align-items: center;
  }

  .Doorkey-switch {
    margin-top: 3px;
  }
  .Doorkey-button {
    margin-right: 18px;
    width: 37px;
  }
  .Doorkey-badge {
    background-color: #d83e3e;
  }
  .Doorkey-left {
    margin: 0;
  }

  .Doorkey-allowPublic {
    .LoadingIndicator {
      width: 25px;
    }
  }
}